/* debugging */
/** {
  border: 1px solid red;
}*/

/************ NAVBAR ************/

.logo {
  text-align: center;
  font-size: 2em;
}

.dashboard {
  text-align: center;
}

.shuffleButton {
}

/************ GAME BOARD ************/

.card {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 11em;
  height: 12em;
  background-size: cover;
  /*background-repeat: no-repeat;*/
}

.card img {
  width: 11em;
  height: 12em;
}







